@font-face {
  font-family: "Neue Haas Unica Regular";
  src: local("Neue Haas Unica Regular"),
  url(~@/assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Neue Haas Unica Medium";
  src: local("Neue Haas Unica Medium"),
  url(~@/assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Neue Haas Unica Light";
  src: local("Neue Haas Unica Light"),
  url(~@/assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Neue Haas Unica Thin";
  src: local("Neue Haas Unica Thin"),
  url(~@/assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Neue Haas Unica UltraLight";
  src: local("Neue Haas Unica UltraLight"),
  url(~@/assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-UltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Neue Haas Unica Bold";
  src: local("Neue Haas Unica Bold"),
  url(~@/assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham Bold";
  src: local("Neue Haas Unica Bold"),
  url(~@/assets/fonts/Gotham/Gotham-Bold.otf) format("opentype");
}
